{{ with .Site.Params.favicon }}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v={{ .version }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v={{ .version }}">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png?v={{ .version }}">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v={{ .version }}">
    <link rel="manifest" href="/site.webmanifest?v={{ .version }}">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v={{ .version }}" color="{{ .safaricolor }}">
    <link rel="shortcut icon" href="/favicon.ico?v={{ .version }}">
    <meta name="apple-mobile-web-app-title" content="{{ .apptitle | safeHTML }}">
    <meta name="application-name" content="{{ .apptitle | safeHTML }}">
    <meta name="msapplication-TileColor" content="{{ .themecolor }}">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v={{ .version }}">
    <meta name="theme-color" content="{{ .themecolor }}">
{{ end }}